
.chaty-channel-list{
    position: fixed;
    bottom: 75px;
    right: 70px;
    z-index: 10001;
  }
  .chaty-channel-list svg{
  width: 54px;
  height: 54px;
  }
  
  .container5 {
    width: 100%;
    margin: auto;
  }
  .title-5 {
    font-size: 6vmax;
    font-weight: bold;
    color: #8f6f2b;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
  }
  
  .item-p {
    text-align: center;
    padding: 10px 0;
    max-width: 1277px;
    margin: 0 auto;
  }
  
  .port {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  
  @media (max-width: 768px) {
    .port {
        flex-direction: column-reverse;
    }
  
    .trans_service:hover{
      transition: 1s ease;
      transform: scale(1);
    }
  }
  
  .buttons-1 {
    flex: 1 1 calc(50% - 10px);
    min-width: 300px;
    padding: 10px;
    text-align: center;
  }
  
  .buttons-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 90px;
  
  }
  
  .buttons-1-1 h1 {
    font-size: 40px;
    margin: 0 0 20px;
    color: #5e4000;
    font-weight: bold;
  }
  
  .buttons-1-1 p {
    font-size: 20px;
    color: #d09515;
    padding: 20px 0;
  }
  
  .buttons-1-2 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    margin: 1rem 0;
    padding: 0.1px 0.1px;
    max-width: 270px;
    margin: 0 auto;
    height: auto;
  }
  
  .buttons-1-2 a {
    margin: 1rem 0;
    background-color: #fbe3b0;
    padding: 13px 30px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);
    text-decoration: none;
  }
  
  .buttons-1-2 h1 {
    font-size: 40px;
    margin: 0 0 10px;
    color: #956600;
    font-weight: bold;
  }
  
  .buttons-1-2 a:hover {
    transition: 1s ease;
    transform: scale(1.1);
  }
  
  
  
  
  .buttons-2 {
    flex: 1 1 calc(50% - 10px);
    min-width: 300px;
    width: 100%;
    text-align: center;
    height: auto;
    padding: 0 20px;
  }
  
  
  .buttons-2 img {
    width: 100%;
    justify-content: center;
    height: 500px;    
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);
  
  }
  








  .footer-column-3 .column {
    width: 219px;
    height: 62px;
  }
  .footer-column-3{
    min-width: 382px;
    margin-top: 51px;
  }
  
  .footer-column-3 h1{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: start;
    margin-left: 21px;
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .footer-column-3 p{
    font-size: 20px;
    margin-bottom: 0;
    text-align: start;
    margin-left: 50px;
  }
  
  .footer-column-3 .top_column {
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
  }
  
  .footer-column-3 .column {
      display: flex;
      gap:0px;
      flex-direction: row;
      width: 319px;
      height: 76px;
      border-radius:89px;
      margin-bottom: 10px;
  
  }
  
  .footer-column-3 .column img {
    text-align: start;
    margin:12px;
    width: 56px;
    height: 52px;
  }
  
  .footer-column-3 .column h2 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 0;
    text-align: start;
    margin-top: 5px;
    margin-right: 5px;
    font-weight: bold;
  }
  
  .footer-column-3 .column h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0;
    text-align: start;
    margin-top: 5px;
    margin-right: 5px;
    font-weight: bold;
  }
  
  .footer-column-3 .column h4 {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 0;
    text-align: start;
    margin-top: 5px;
    margin-right: 5px;
    font-weight: bold;
  }

  .footer-column-3 a{
  color: #ffffff;
  }
  
  @media (max-width: 768px) {

    .card_img1 {
      width: 96% !important;
      height: 105vw !important;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position:center;
      min-width: 24rem;
      min-height: 29rem;
    }
  
    .Card_33 {
      position: relative;
      width: 89% !important;
      height: 71% !important;
      background:rgb(202, 174, 85);
      display: flex;
      flex-direction: column-reverse;
      border-radius:0px 50px 50px 0px;
      min-height: 130px;
    }
  
    .Card_33_wrap {
      display: flex;
      width: 6% !important;
      height: 89% !important;
      right: 0;
      position: absolute;
      justify-content: right;
      align-items: center;
    }
  
    .footer-column-3 {
      width: 100%;
      flex:1;
      min-width: 103px;
      margin: -10px;
    }
  
    .footer-column-3 .column {
      width: 63px;
      height: 62px;
    }
  
    .footer-column-3 .top_column {
      justify-content: start;
      align-items: start;
    }
  
    .footer-column-3 .column img {
      text-align: start;
      margin:12px;
      width: 38px;
      height: 40px;
  }
  
  
    .footer-column-3 .column h2{
      text-align: start;
      font-size: 0px;
   }
  
   .footer-column-3 .column h3{
    text-align: start;
    font-size: 0px;
  }
  
    .footer-column-3 .top_column {
      display: flex;
      gap: 20px;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  
    .footer-column-3 a{
      display: flex;
      gap: 20px;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  
    .footer-column-3 .column h4 {
      font-size: 0px;
      color: #ffffff;
      margin-bottom: 0;
      text-align: start;
      margin-top: 5px;
      margin-right: 5px;
      font-weight: bold;
    }
  }
  



  @media (max-width: 1000px) {

    .Card_5 {
      position: relative;
      width: 97%;
      height: 65%;
      background:rgb(202, 174, 85);
      display: flex;
      flex-direction: column-reverse;
      border-radius:0px 50px 50px 0px;
    }

    .Card_5_wrap {
      display: flex;
      width: 50%;
      height: 87%;
      right: 0;
      position: absolute;
      justify-content: right;
      align-items: center;
      margin-right: 10px;
    }


  }