/* สำหรับตกแต่งหน้า index */

.start {
    background-color: #CB9B35;
    padding: 8px;
    width: 100%;
  }
  
  .start h1 {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  }


.container-start{
    background-color: black;
    width: 100%;
    height: auto;
    padding: 20px;
    color: #ffffff;
}




.container-s {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 0 30px;
}

.image {
    flex: 1 1 calc(60% - 10px);
    min-width: 500px;
    text-align: center;
}

.image img {
    width: 100%;
}

.content {
    flex: 1 1 calc(30% - 10px);
    min-width: 500px;
    padding: 30px;
    text-align: start;
    background-color: #CB9B35;
}

.content h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    padding: 15px 20px;
    text-align: start;
}

.content h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
}

.content p {
    color: #ffffff;
    margin-bottom: 15px;
    line-height: 1.6;
    padding: 20px;
}



.container_m {
    margin-top: 30px;
    padding: 0 400px;
}
.container_m h2 {
    color: #CB9B35;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
    justify-content: center;
}
.item {
    background-color: #CB9B35;
    color: white;
    padding: 40px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 3px solid #825b1f; /* เพิ่มขอบ */
}
.full-width {
    grid-column: span 2;
}


.image-s {
    min-width: 100%;
    padding: 0 30px;
    text-align: center;
}

.image-s img {
    width: 100%;
}