/* สำหรับตกแต่งหน้า index */

.container-start{
    background-color: black;
    width: 100%;
    height: auto;
    padding: 20px;
}

.text{
    background-image: url('Source/IMG_04811.JPG');
    background-size: cover; /* ปรับภาพให้พอดีกับพื้นที่ */
    background-position: center; /* จัดตำแหน่งภาพ */
    background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ */
}


.text h1{
    color: #ffffff;
}

