/* สำหรับตกแต่งหน้า index */
body{
  background: #e9e9e9  !important;
}





a {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
  text-decoration: none !important;
}

.container {
  max-width: 925px!important;
}

.container {
  max-width: 1402px !important;
}


.card1{
  width: auto;
  height: 40vw;
  min-height: 400px;
  overflow: hidden;
  background-image: url(../Source/IMG_0481112.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.089);
  background-blend-mode: overlay;
  display: flex;
}
.card1 h1{
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 5px 12px #030303;
  margin: auto;
  font-size: clamp(25px,3.5vw,60px) !important;
}

.text_about {
  height: 50%;
  align-items: center;
  /* position: relative; ไม่จำเป็นต้องมีแล้ว */
  display: grid;
  left: 10px;
}

.text-container h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: clamp(25px, 3.5vw, 70px) !important;
  opacity: 0; /* ซ่อนเริ่มต้น */
  transition: opacity 1s ease-in-out;
  color: #e6ba41;
}
.text-container h1.active {
  opacity: 1; /* แสดง */
}

.text_about_02 {
  background: #e7e7e7;
  padding: 30px 30px;
  border-radius: 10px;
  background: rgba(226, 171, 21, 0.76);
  color: #ffffff;
  box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.5);
  transform: translate3d(-80%,0,0) !important;
}


.text_about_02 h1{
  color: #ffffff;
  font-size: 6vmax;
  font-weight: bold;
  text-align: center;
}

.text_about_02 h2{
  color: #ffffff;
  font-size: 4vmax;
  font-weight: bold;
  text-align: center;
}

.text_about_02 h3{
  color: #ffffff;
  font-size: 2vmax;
  text-align: start;
}

****************************************************************************************

.container {
    width: 300px;
    margin: auto;
    max-width: 772px!important;
    padding: 0 50px;
}
.title2 {
    font-size: 6vmax;
    font-weight: bold;
    color: #8f6f2b;
    margin-bottom: 25px;
    text-align: center;
}
.grid2 {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}
.grid2 div {
    background: #CB9B35;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    font-size: 3vmax;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.49);
}
.grid2 div:nth-child(1) { grid-column: 1; grid-row: 1; }
.grid2 div:nth-child(2) { grid-column: 2; grid-row: 1; }
.grid2 div:nth-child(3) { grid-column: 1; grid-row: 2; }
.grid2 div:nth-child(4) { grid-column: 2; grid-row: 2; }
.grid2 div:nth-child(5) { grid-column: span 2; }

/*
.grid2 div:hover {
    transition: 1s ease;
    transform: scale(1.05);
  }
*/    




.container3 {
    width: 100%;
    margin: auto;
}
.title-3 {
    font-size: 6vmax;
    font-weight: bold;
    color: #8f6f2b;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}
.service-boxes {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

  .card {
    width: 380px!important;
    height: 650px!important;
  }

  /*
  .card:hover {
    transition: 1s ease;
    transform: scale(1.1);
  }*/

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
    font-size: 35px;
    text-align: center;
    background-color: #f5c254;
    border-radius: 10px;
    padding: 5px 0;
    color: #5e4000!important;
    font-weight: bold;
  }

.card-text:last-child {
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    color: #5e4000;
  }




/* แสดงตัวอักสอนทีละตัว */
@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomI{animation-name:zoomIn}

#typewriter.show1 {
  overflow: hidden; /* ซ่อนข้อความที่เกินออกมา */
  white-space: nowrap; /* ไม่ให้ข้อความขึ้นบรรทัดใหม่ */
  animation: 
  typing 1.5s steps(20, end) forwards, /* ปรับ duration ได้ตามต้องการ */
  slide 5s forwards; /* ปรับ duration ให้เท่ากับ typing */
  padding: 10px 20px;
 
}

@keyframes typing {
  from { width: 10% }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FF571999; } /* สีเส้นกระพริบ */
}




/* ************************************** */

.mg_pade {
  margin-top: 15%;
}

 /* img_woman */

.Card_3_block {
  display: flex;
  width: 50%;
  height: 100%;
  right: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
}


.section_2 {
  height: 30rem;
  display: flex;
  flex-direction: column-reverse;
}

.Card_3 {
  position: relative;
  width: 95%;
  height: 50%;
  background: rgb(202, 174, 85);
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0px 50px 50px 0px;
}

.card_img span {
  /* right: 1vw; */
  position: absolute;
  /* top: 10vw; */
  font-size: clamp(11px, 2.5vw, 45px);
  font-weight: bold;
  color: #8f6f2b;
}

.card_img {

  width: 60%;
  height: 33rem;
  position: absolute;
  /* คุณสามารถปรับแต่งเพิ่มเติมได้ดังนี้ */
  background-size: cover;
  /* ปรับขนาดรูปภาพให้พอดีกับ div */
  background-repeat: no-repeat;
  /* ไม่ให้รูปภาพซ้ำ */
  background-position: center;
  /* จัดตำแหน่งรูปภาพไว้ตรงกลาง */
}

.Card_3_wrap {
  display: flex;
  width: 50%;
  height: 100%;
  right: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
}

.img_card{
  /* border-radius: 10px 0px 0px 10px; */
  width: 100%;
  height: 100%;
  min-width: 400px;
  object-fit: cover;
  transform: translate3d(10%,0,0);
  box-shadow: 0px 0px 0px rgb(255, 255, 255);
}

.img_card.show1{
  transition: transform 0.9s ease-out,opacity 0.9s ease-out,filter 1s ease-out;
  transition-delay: 200ms; 
  transform:none !important;
 filter: none !important;
 box-shadow: 0px 0px 14px #00000069;
}

.call_phone {
  background: rgb(240, 228, 185);
  border-radius: 50px;
  color: #ce9a20;
  padding: 0.1rem 1rem;
  position: absolute;
  transform: translateX(0);
  text-align: center;
  display: flex;
  transition: color 1s ease-in-out, transform 1s ease-in-out, background 1s ease-in-out;
  width: 30vw;
}

.call_phone:hover {
  color: #09ac00;
 
  transition: color 1s ease-in-out, transform 1s ease-in-out, background 1s ease-in-out;
}

.call_phone div {
  transition: color 1s ease-in-out, transform 1s ease-in-out, background 1s ease-in-out;
  transform: translateX(0); /* ค่าเริ่มต้น */
 
}

.call_phone:hover div {
  transform: translateX(-20%);
  
}




.call_phone img {
  transition: transform 1s ease-in-out; /* กำหนด transition */
  transform: translateX(0); /* ค่าเริ่มต้น */
  color: #745712;
}
.call_phone:hover img {
  transform: translateX(400%); /* เปลี่ยนค่าเมื่อ hover */
}


.call_phone h3 {
  font-weight: bold;
  font-size: clamp(10px, 2.5vw, 40px);
}



/* ************************************************************ */



.chaty-channel-list{
    position: fixed;
    bottom: 75px;
    right: 70px;
    z-index: 10001;
  }
  .chaty-channel-list svg{
  width: 54px;
  height: 54px;
  }






.container5 {
    width: 100%;
    margin: auto;
}
.title-5 {
    font-size: 6vmax;
    font-weight: bold;
    color: #8f6f2b;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}
  
.item-p {
    text-align: center;
    padding: 10px 0;
    max-width: 1277px;
    margin: 0 auto;
}

.port {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 768px) {
    .port {
        flex-direction: column-reverse;
    }
}

.buttons-1 {
    flex: 1 1 calc(50% - 10px);
    min-width: 300px;
    padding: 10px;
    text-align: center;
}

.buttons-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 90px;

}

.buttons-1-1 h1 {
    font-size: 40px;
    margin: 0 0 20px;
    color: #5e4000;
    font-weight: bold;
}

.buttons-1-1 p {
    font-size: 20px;
    color: #d09515;
    padding: 20px 0;
}

.buttons-1-2 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    margin: 1rem 0;
    padding: 0.1px 0.1px;
    max-width: 270px;
    margin: 0 auto;
    height: auto;
}

.buttons-1-2 a {
    margin: 1rem 0;
    background-color: #fbe3b0;
    padding: 13px 30px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);
    text-decoration: none;
}

.buttons-1-2 h1 {
    font-size: 40px;
    margin: 0 0 10px;
    color: #956600;
    font-weight: bold;
}

.buttons-1-2 a:hover {
    transition: 1s ease;
    transform: scale(1.1);
  }




.buttons-2 {
    flex: 1 1 calc(50% - 10px);
    min-width: 300px;
    width: 100%;
    text-align: center;
    height: auto;
    padding: 0 20px;
}


.buttons-2 img {
    width: 100%;
    justify-content: center;
    height: 500px;    
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);

}






*************************************************** 

.services {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.service-card {
    margin: 10px;
    max-width: 380px;
    overflow: hidden;
    text-align: center;
    height:fit-content;
}

.service-card1 {
    text-align: center;
    border-radius: 0 0 8px 8px;
    max-width: 600px;
    overflow: hidden;
    text-align: center;
    z-index: 5 !important;
    display: block;
    position: relative;
    margin-bottom: 1.5rem;
    padding: 0 30px;
}


.service-card img {
    width: 100%;
    height: auto;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}

.service-card1 h3 {
    color: #956600;
}

.service-card1 p {
    color: #956600;
}

.service-card h3 {
    margin: 5px 0;
    font-weight: 550;
    font-size: 35px;
    margin-top: 20px;
}

.service-card p {
  font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.5;
    text-align: start;
}









