body{
    /* background: linear-gradient(to right,#8761285a,#dbc06d65,#ede1b457,#d5b6615e,#a5833e) !important; */
    background: #e9e9e9 !important;
}

/* แสดงตัวอักสอนทีละตัว */
@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomI{animation-name:zoomIn}

#typewriter.show1 {
  overflow: hidden; /* ซ่อนข้อความที่เกินออกมา */
  white-space: nowrap; /* ไม่ให้ข้อความขึ้นบรรทัดใหม่ */
  animation: 
  typing 1.5s steps(20, end) forwards, /* ปรับ duration ได้ตามต้องการ */
  slide 5s forwards; /* ปรับ duration ให้เท่ากับ typing */
  padding: 5px 20px;
  
 
}

@keyframes typing {
  from { width: 10% }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FF571999; } /* สีเส้นกระพริบ */
}

/* ************************************** */

.card1{
    width: auto;
    height: 30rem;
    overflow: hidden;
    /* background-image: url(../Source/IMG_0476.JPG); */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(233, 233, 233)), url(../Source/IMG_0476.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
    display: flex;
}
.card1 h1{
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0px 5px 12px #030303;
    margin: auto;
    font-size: clamp(40px,4.5vw,80px) !important;
    position: relative;
}
.main_text{
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0px 5px 12px #030303;
    margin: auto;
    font-size: clamp(24px,4.5vw,70px) !important;
}
.second_text{
    font-weight: 600;
    color: #8f6f2b;
    margin: auto;
    font-size: clamp(30px,4.5vw,70px) !important;
}
.text_list div{
    font-weight: 400;
    color: #8f6f2b;
    font-size: clamp(20px,2.5vw,35px) !important;
    margin-top: 1rem;
}



  .move_box_text{
    transform: translate3d(-102%,0,0);

    transition-delay: 200ms;
  }
  .move_box_text.show1{
    transform: none;
    transition: transform 1s ease-in-out ;
    transition-delay: 500ms;
  }

  .card_img span {
    left: 55% !important;
  } 

  @media (max-width: 1000px){
    #typewriter.show1 {
      white-space: wrap;
      
     
    }
  }


















  
.chaty-channel-list{
  position: fixed;
  bottom: 75px;
  right: 70px;
  z-index: 10001;
}
.chaty-channel-list svg{
width: 54px;
height: 54px;
}

.container5 {
  width: 100%;
  margin: auto;
}
.title-5 {
  font-size: 6vmax;
  font-weight: bold;
  color: #8f6f2b;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
}

.item-p {
  text-align: center;
  padding: 10px 0;
  max-width: 1277px;
  margin: 0 auto;
}

.port {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 768px) {
  .port {
      flex-direction: column-reverse;
  }

  .trans_service:hover{
    transition: 1s ease;
    transform: scale(1);
  }
}

.buttons-1 {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  padding: 10px;
  text-align: center;
}

.buttons-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 90px;

}

.buttons-1-1 h1 {
  font-size: 40px;
  margin: 0 0 20px;
  color: #5e4000;
  font-weight: bold;
}

.buttons-1-1 p {
  font-size: 20px;
  color: #d09515;
  padding: 20px 0;
}

.buttons-1-2 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  margin: 1rem 0;
  padding: 0.1px 0.1px;
  max-width: 270px;
  margin: 0 auto;
  height: auto;
}

.buttons-1-2 a {
  margin: 1rem 0;
  background-color: #fbe3b0;
  padding: 13px 30px;
  border-radius: 50px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);
  text-decoration: none;
}

.buttons-1-2 h1 {
  font-size: 40px;
  margin: 0 0 10px;
  color: #956600;
  font-weight: bold;
}

.buttons-1-2 a:hover {
  transition: 1s ease;
  transform: scale(1.1);
}




.buttons-2 {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  width: 100%;
  text-align: center;
  height: auto;
  padding: 0 20px;
}


.buttons-2 img {
  width: 100%;
  justify-content: center;
  height: 500px;    
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);

}
