*{
  font-size: clamp(12px,2.5vw,22px);
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
  
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(rgb(255, 255, 255) 8%, rgb(247, 230, 155) 100%);
}

.start {
  background-color: #f8d561fb;
  padding: 10px;
  width: 100%;

}

***********************************************************************


 .nav-item {
  margin: auto 100px;
}
.navbar-expand-lg{
  position: sticky;
  top: 0px;
  
}
.navbar-nav {
  width: 100%;
  flex-flow: row;
  justify-content: center;
  padding:0 15px;
  border-radius: 10px;
  margin-right: 50px;
}

.nav-link{
  font-weight: bolder !important;
  color: #6e6e6ee7 !important;

}
.nav-link:hover {
  color: rgb(48, 47, 47) !important;

}

.container-fluid {
  display: grid !important;
  grid-template-columns: 20% 80%;
  text-align: center;
  gap: 5px;
  
}

.navbar-brand{
  justify-self: end;
}

.collapse navbar-collapse{
  padding: 0 10px;
  margin: 0;
}

.navbar-nav {
  padding: 10px;
}


@media (max-width: 994px) {
  .container-fluid {
    display: flex !important;
    grid-template-columns: 20% 80%;
    text-align: center;
    gap: 10px;
    
  }

  .navbar-nav {
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    background: linear-gradient(rgb(255, 255, 255) 8%, rgba(242, 236, 149, 0.555) 100%);
    padding: 10px;
  }

  .nav-link{
    font-weight: bolder !important;
    color: #c49d00 !important;
  
  }
}
