*{
  font-size: clamp(12px,2.5vw,22px);
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
  
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(rgb(255, 255, 255) 8%, rgb(255, 255, 255) 100%);
}

.start {
  background-color: #CB9B35;
  padding: 8px;
  width: 100%;
}

.start h1 {
font-size: 15px;
text-align: center;
margin-top: 10px;
}

***********************************************************************


 .nav-item {
  margin: auto 100px;
}

.navbar-expand-lg{
  position: sticky!important; top: 0px!important;
  padding: 0!important;
}

.navbar-nav {
  width: 100%;
  flex-flow: row;
  justify-content: center;
  padding:0 15px;
  border-radius: 10px;
  margin-right: 50px;
}

.nav-link{
  font-weight: bolder !important;
  color: #6e6e6ee7 !important;

}
.nav-link:hover {
  color: #CB9B35 !important;

}

.container-fluid {
  display: grid !important;
  grid-template-columns: 20% 80%;
  text-align: center;
  gap: 5px;

  padding-right: calc(var(--bs-gutter-x) * 1)!important;
  padding-left: calc(var(--bs-gutter-x) * 8.5)!important;
}

.navbar-brand{
  justify-self: end;
}

.collapse navbar-collapse{
  padding: 0 10px;
  margin: 0;
}

.navbar-nav {
  padding: 10px;
}


@media (max-width: 994px) {
  .container-fluid {
    display: flex !important;
    grid-template-columns: 20% 80%;
    text-align: center;
    gap: 10px;
    
  }

  .navbar-nav {
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    padding: 10px;
  }

  .nav-link{
    font-weight: bolder !important;
    color: #8b8b8b !important;
    font-size: 17px!important;
    text-align: right;
    padding: 0 10px!important;
  
  }
}
